body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button .cart-notification {
  position: absolute;
  top: -5px;  /* Ajusta este valor según lo necesites */
  right: -5px;  /* Ajusta este valor según lo necesites */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 14px;
  font-weight: bold;
}